@media (max-width: 52em) {
  .container {
    grid-template-columns: 30rem 16rem;
    gap: 7.6rem;
  }
}

@media (max-width: 40rem) {
  .container {
    grid-template-columns: 28rem 15rem;
    gap: 4.8rem;
  }

  .qr-link {
    width: 15rem;
    height: 15rem;
  }

  .container-heading {
    font-size: 2.6rem;
  }

  .contaner-text {
    font-size: 1.5rem;
  }

  .qr-input {
    width: 160px;
  }

  .btn {
    padding: 1rem 2.2rem;
  }
}

@media (max-width: 36rem) {
  .container {
    grid-template-columns: 23rem;
    justify-content: center;
    gap: 4.8rem;
    text-align: center;
  }

  .qr-link {
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
  }

  .qr-input {
    width: 123px;
  }
}
